<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Contact</h3>
      <div class="p-3">
        <h5 class="text-center"><strong>お問い合わせありがとうございました。</strong></h5>

        <p class="text-center pt-3">5秒後にHomeへ自動的に遷移します</p>
        <p class="text-center">遷移しない時は<%= link_to "こちら", root_path %>からお戻りください</p>
      </div>
    </div>
  </div>
</div>

<!--5秒後にページ遷移するjavascript-->
<script>
  setTimeout(function(){
    window.location.href = '/';
  }, 5*1000);
</script>