<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Ranking</h3>
      <div class="border p-3">
        <h5><strong>検索条件</strong></h5>
        <div>
          <div>
            <span>年月指定 / プルダウン選択</span>
          </div>
          <div>
            <span>予算指定 / プルダウン選択</span>
          </div>
          <div>
            <span>※余裕あれば他検索条件を追加</span>
          </div>
        </div>
      </div>
      <div class="py-3"><!--上下余白div--></div>
      <div class="border p-3">
        <% if @datas.blank? %>
          <h5><strong>検索結果</strong></h5>
          <span>検索結果表示</span>
        <% else %>
          <h5><strong>今月の人気投稿</strong></h5>
          <span>いいねがついた順に表示</span>
        <% end %>
      </div>

    </div>
  </div>
</div>