<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>Search</h3>
      <div class="border p-3">
        <h5><strong>検索条件</strong></h5>
        <div>
          <p>検索対象 / ボタン選択(ユーザー・投稿)</p>
          <!--ユーザー検索選択時-->
          <p>キーワード検索 / 入力欄</p>
          <p>年齢 / 入力欄</p>
          <!--ユーザー検索選択時-->
          <p>===検索対象に応じて切替===</p>
          <!--投稿検索選択時-->
          <p>キーワード検索 / 入力欄</p>
          <p>所要時間 / xx分~xx分</p>
          <p>予算目安 / xx円~xx円</p>
          <p>投稿日時 / xx年xx月~xx年xx月</p>
          <!--投稿検索選択時-->
          <button class="btn btn-sm">検索</button>
        </div>
      </div>
      <div class="py-3"><!--上下余白div--></div>
      <% if @datas.blank? %>
      <% else %>
        <div class="border p-3">
          <h5><strong>検索結果</strong></h5>
          <p>検索結果ソート項目</p>
          <p>検索結果表示</p>
        </div>
      <% end %>
    </div>
  </div>
</div>