<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h3>About</h3>
      
<div class="wrap">
    <div class="parallax bg-01">背面：パララックスエリア
    </div>
    <div class="content">前面：コンテンツエリア
    </div>
    <div class="parallax bg-02">背面：パララックスエリア
    </div>
    <div class="content">前面：コンテンツエリア
    </div>
</div>

<p>「自分の贅沢な時間の過ごし方」を共有するサイト</p>
<p>本サイトは、自分ならではの 「贅沢な時間の過ごし方」 の共有を通じ、日々の過ごし方について、新たな気づきや発見を得る "きっかけ" になることを目的としております。</p>
<p>誰しもがふとした瞬間に感じる「暇」な時間がきっかけでした。
昨今のストレス社会で「暇」を感じられることはとても尊く幸せなことだと感じる一方、
時に「暇」が故に拷問のような “苦痛” を味わわせられたこともあります。

これまで「暇」な時は自分なりに贅沢な時間を過ごしてきましたが、
自分自身の頭で思い浮かぶことには限界があり、
・ワンパターン化 & 飽きつつある
・場合によっては出費が痛い
という問題点があり、現状に危機感を感じております。

対して、自分は絶対にやらないであろう事を
友人に誘われて挑戦した時に予想外に楽しかった経験などもあり、
色々な価値観を集めれば、自分の知らなかった贅沢な時間を発見できるのでは？
あるいは、工夫次第でもっと楽しくなるのでは？
そして、自分と価値観が近い人をフォローして情報を収集できれば、
日常をより充実させることができるのでは？と考え、本テーマを選びました。</p>



    </div>
  </div>
</div>