<!--topアニメーションに関する記述-->
<div class="start">
  <div class="col-12 mx-auto">
    <p><strong>my luxury time</strong></p>
  </div>
</div>
<!--topアニメーションに関する記述-->

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1 class="text-center m-5">- my luxury time -</h1>

      <div class="fade-in fade-in-up main_visual">
        <p class="fade-in fade-in-up text-right text-white main_visual-text1 h5">「暇」はこの世で最も贅沢な時間だよ</p>
        <p class="fade-in fade-in-up text-right text-white main_visual-text2 h5">「暇」はこの世で最も恐ろしい時間だよ</p>
        <p class="fade-in fade-in-up text-right text-white main_visual-text3 h6">by 🐹</p>
      </div>

      <div class="m-5"></div>

      <div class="fade-in fade-in-up box mt-5">
        <p class="fade-in fade-in-up text-center mt-5 h3">本サイトは、自分の</p>
        <p class="fade-in fade-in-up text-center mt-5 h3"> 「贅沢な時間の過ごし方」 の共有を通じ、</p>
        <p class="fade-in fade-in-up text-center mt-5 h3">日々の過ごし方について、</p>
        <p class="fade-in fade-in-up text-center mt-5 h3">新たな気づきや発見を得る "きっかけ" に</p>
        <p class="fade-in fade-in-up text-center mt-5 h3">なることを目的としております。</p>
        <%= link_to root_path do %>
        <p class="text-center mt-5 h3">homeへ</p>
        <% end %>
      </div>


    </div>
  </div>
</div>